:root {
  --main-color:#3E7CB1;
  --main-light-color: #81A4CD;
  --light-color: :#DBE4EE;
  --active-color:#F17300;
}

.api_ref{
	position: relative;
	border: 3px solid var(--main-color);
}


.api_dict{
	position: relative;
	border: 3px solid var(--main-light-color);
}

.api_text{
	position:relative;
	left: 30px;
}

.button {
  background-color: white;
  border: 2px solid var(--main-color);
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button:hover {
  background-color: var(--main-light-color);
  color: white;
}

.grey_block{
	background-color: var(--light-color);
}