
{% extends "base.html" %}
{% block content %}
		<h1>API INFORMATION.</h1>
<div class="api_ref">
		<h3 class='api_text'>http://gen-review.net/api/v1.0/similar_apps_count</h3>
		<p class='api_text'>input {'target_id': 'com.appadvisory.drawclimber'}</p>
		<p class='api_text'>returns {'similar_apps_count': '1'}</p>
		<p class='api_text'>Counts how many apps are similar to the given one. Similar apps - source of generated reviews</p>
</div>
<div class="api_ref">
		<h3 class='api_text'>http://gen-review.net/api/v1.0/request_file_id</h3>
		<p class='api_text'>input {'user_id': 'your_id'}</p>
		<p class='api_text'>returns {'file_id': 'your_id 2020-02-27 22:53:44.456785'}</p>
		<p class='api_text'>Returns the name of the file with generated reviews</p>
</div>
<div class="api_ref">
		<h3 class='api_text'>http://gen-review.net/api/v1.0/gen</h3>
		<p class='api_text'>input {'user_id': 'your_id', 'file_id':'your_id 2020-02-27 22:53:44.456785', 'target_id':'com.appadvisory.drawclimber', 'lang':'en_US', 'reviews_amount':'20', 'length': 'Long', 'ratings':'1','similar_ids':['com.Comp1.App1', 'com.Comp2.App2','com.Comp3.App3']}</p>
		<p class='api_text'>returns {'result': 'Completed'}</p>
		<p class='api_text'>Saves reviews to a given file_id</p>
</div>
<div class="api_ref">
		<h3 class='api_text'>http://gen-review.net/api/v1.0/get_reviews</h3>
		<p class='api_text'>input {'file_id': 'your_id 2020-02-27 22:53:44.456785','ratings':1}</p>
		<p class='api_text'>returns {'1': 'Cool app', '2':'Love it', '3':'Super game!', '4':'Addictive','5':'Like it very much','6':'Super amazing'}</p>
		<p class='api_text'>Returns generated reviews from file_id with specified rating (ratings = -1 negative reviews, ratings = 0 3 rate reviews, ratings = 1 positive reviews)</p>
</div>

<div class="api_dict">
	<h3 class="api_text">JSON keys and values</h3>

	<p class="api_text">
		<strong><big>'target_id'</strong></big> - (string) id of the app you want to generate reviews for. <br>Example: 'com.Company.App'<br>
		<strong><big>'similar_apps_count'</strong></big> - (string) number of sources to get reviews from. <br>Example: '3'<br>
		<strong><big>'user_id'</strong></big> - (string) your id given by the API developer. Used for authorization. <br>Example: 'dfhjnlt74jl'<br>
		<strong><big>'file_id'</strong></big> - (string) name of the file where your reviews are stored.<br>
		<strong><big>'lang'</strong></big> - (string) language you want to get reviews in. <br>Example: 'en_US'<br>
		<strong><big>'reviews_amount'</strong></big> - (string) minimum amount of reviews you want to generate. <br>Example: '500'<br>
		<strong><big>'length'</strong></big> - (string) 'Long' or 'Short'. 'Long' - generate long reviews. 'Short' - generate short reviews.<br>
		<strong><big>'ratings'</strong></big> - (int) 1 or 0 or -1. 1 = generate positive reviews. 0 = generate reviews with rate 3. -1 = generate negative reviews.<br>
		<strong><big>'similar_ids'</strong></big> - (array) id's of the apps you want to get reviews from. <br>If similar_apps_count function returned low amount of similar apps (1-2), you can set similar apps manually. <br>If there are enough similar app returned by similar_apps_count, then you can skip this parameter. <br>Example: ['com.Comp1.App1', 'com.Comp2.App2','com.Comp3.App3']<br>
		<strong><big>'result'</strong></big> - (string) 'Completed'. Returns when the generator finishes its work.
		
	</p>
</div>
{%endblock%}



