{% extends "base.html"%}
{% block content %}
<script>
async function UserAction(method,data,api,text_id) {
	const options = {
		method: method,
		headers: {
			'Content-Type':'application/json'
		},
		body:JSON.stringify(data)
	};

    let response = await fetch('http://gen-review.net/api/v1.0/'+api, options);

if (response.ok) { // если HTTP-статус в диапазоне 200-299
// получаем тело ответа (см. про этот метод ниже)
//document.getElementById("similar_apps_count_result").innerHTML = await JSON.stringify(response.json());
response.json().then(json => {document.getElementById(text_id).innerHTML =JSON.stringify(json);});
} else {
alert("Error HTTP: " + response.status);
}

}	
</script>

<h1>Example</h1>
<ol>
	<li class ="api_ref">
		<h2 class ="api_text">http://gen-review.net/api/v1.0/similar_apps_count</h2>
		<div class="grey_block">
		<h3 class = "api_text">Description</h3>
		<p class ="api_text">First you need to check if there are enough similar apps to get reviews from for your app. Similar apps are apps with similar user base and app type. <br>
		Send request <strong>http://gen-review.net/api/v1.0/similar_apps_count</strong> with json file: <strong><br>{<br><nbsp>'target_id': 'com.appadvisory.drawclimber'<br>}</strong>. <strong>target_id</strong> is an id of the app you want to get reviews for.
		</p></div>

		
		<form class = "grey_block">
			<h3 class = "api_text">Parameters "POST"</h3>
			<label class ="api_text" for="target_id">'target_id'</label><br>
			<input class ="api_text" type="text" id="target_id" name="target_id" value="com.appadvisory.drawclimber"><br>
		</form>
		
		<button class="button api_text" type="button" onclick="UserAction('POST',
		{'target_id': document.getElementById('target_id').value},
		'similar_apps_count','similar_apps_count_result')">POST</button>
		
		<div class ="grey_block">
		<h3 class ="api_text">Result: </h3>
		<p  class ="api_text" id="similar_apps_count_result"></p>
		</div>
	</li>

	<li class ="api_ref">
		<h2 class ="api_text">http://gen-review.net/api/v1.0/request_file_id</h2>
		<div class="grey_block">
		<h3 class = "api_text">Description</h3>
		<p class ="api_text">You need a to request a file name to save your reviews in it. This function returns the file name (id)<br>
		Send request <strong>http://gen-review.net/api/v1.0/request_file_id</strong> with json file: <strong><br>{<br> emsp 'user_id': 'example_user'<br>}</strong>. <strong>user_id</strong> is your uniques id. Use <strong>'example_user'</strong> for testing.
		</p></div>

		
		<form class = "grey_block">
			<h3 class = "api_text">Parameters</h3>
			<label class ="api_text" for="user_id">'user_id'</label><br>
			<input class ="api_text" type="text" id="user_id" name="user_id" value="example_user"><br>
		</form>

		<button class="button api_text" type="button" onclick="UserAction('POST',
		{'user_id': document.getElementById('user_id').value},
		'request_file_id','file_id_result')">POST</button>

		<div class ="grey_block">
		<h3 class ="api_text">Result: </h3>
		<p  class ="api_text" id="file_id_result"></p>
		</div>
	</li>

	<li class ="api_ref">
		<h2 class ="api_text">http://gen-review.net/api/v1.0/gen</h2>
		<div class="grey_block">
		<h3 class = "api_text">Description</h3>
		<p class ="api_text">Now you can call this function to generate reviews using information received from previous api calls. This function will generate reviews and save them in the file<br>
		Send request <strong>http://gen-review.net/api/v1.0/gen</strong> with json file: <strong>{<br>'user_id':'user2',<br>
			'target_id': 'com.ansangha.drjb',<br>
			'lang':'en_US',<br>
			'reviews_amount': 20,<br>
			'length': "Short",<br>
			'file_id':'user2 2020-02-27 22:53:44.456785',<br>
			'ratings':1<br>}</strong>.
		</p></div>

		
		<form class = "grey_block">
			<h3 class = "api_text">Parameters</h3>
			<label class ="api_text" for="user_id">'user_id'</label><br>
			<input class ="api_text" type="text" id="user_id" name="user_id" value="example_user"><br>
		</form>

		<button class="button api_text" type="button" onclick="UserAction('POST',
		{'user_id': document.getElementById('user_id').value},
		'request_file_id','file_id_result')">POST</button>

		<div class ="grey_block">
		<h3 class ="api_text">Result: </h3>
		<p  class ="api_text" id="file_id_result"></p>
		</div>
	</li>
</ol>
{%endblock%}
