{% extends "base.html"%}
{% block content %}
<script>
function UserAction() {
	var request = new XMLHttpRequest()

	request.open("GET", "http://gen-review.net/api/v1.0/similar_apps_count");
	request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
	request.send(JSON.stringify({ "target_id": "com.appadvisory.drawclimber" }));

	request.onreadystatechange = (e) => {
		document.getElementById("similar_apps_count_result").innerHTML =request.responseText;
	}
}	
</script>

<h1>Example</h1>
<ol>
	<li>
		<p>First you need to check if there are enough similar apps to get reviews from for your app. Similar apps are apps with similar user base and app type. <br>
		Send request <strong>http://gen-review.net/api/v1.0/similar_apps_count</strong> with json file: <strong>{'target_id': 'com.appadvisory.drawclimber'}</strong>. <strong>target_id</strong> is an id of the app you want to get reviews for.
		</p>

		<p><big><strong>http://gen-review.net/api/v1.0/similar_apps_count</strong></big></p>
		<form>
			<label for="target_id">'target_id'</label><br>
			<input type="text" id="target_id" name="target_id" value="com.appadvisory.drawclimber"><br>
		</form>
		<button type="button" onclick="UserAction()">SEND</button>
		<p>Result: </p>
		<p id="similar_apps_count_result"></p>
	</li>
</ol>
{%endblock%}
