{% extends "base.html"%}
{% block content %}
<h1>Example</h1>
<ol>
	<li>
		<p>First you need to check if there are enough similar apps to get reviews from for your app. Similar apps are apps with similar user base and app type. <br>
		Send request "http://gen-review.net/api/v1.0/similar_apps_count" with json file: {'target_id': 'com.appadvisory.drawclimber'}. target_id is an id of the app you want to get reviews for.
		</p>
		<p><big>http://gen-review.net/api/v1.0/similar_apps_count</big></p>
		<form>
			<label for="target_id">'target_id'</label><br>
			<input type="text" id="target_id" name="target_id" value="com.appadvisory.drawclimber"><br>
		</form>
		<button type="button">SEND</button>
		<p>Result: </p>
	</li>
</ol>
{%endblock%}
